:root {
    --dw-primaryColor: rgb(173, 153, 216);
    --dw-secondaryColor: rgb(104, 36, 115);
    --formFocusColor: var(--dw-secondarycolor);
    --formFocusShadowColor: rgba(244, 119, 255, 0.5);
}

/*Use this class to override other styles*/
.form-control:focus {
    border-color: var(--formFocusColor);
    box-shadow: 0 0 0 .25rem var(--formFocusShadowColor);
}

.sticky-nav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.googleFontsTitle {
    font-family: "Sarabun", sans-serif;
}

.googleFontsBody {
    font-family: "Roboto", Tahoma;
}

.header {
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
    background-image: radial-gradient(circle 827px at 47.3% 48%, ) 0% rgb(90, 0, 126) 90%
}

/* show big image on bigger screens */
@media only screen and (min-width: 992px) {
    .header {
        background-image: url("/img/DanielleWestLarge.png");
        min-height: 400px;
    }
}

/* show small image on smaller screens */
@media only screen and (min-width:576) and (max-width: 991px) {
    .header {
        background-image: url("/img/DaniellWestSmall.png");
    }
}